body {
    text-align: center;
    background-color: #0077e7;
    background-image: linear-gradient(cyan, #0077e7);
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 17px;
}

h1 {
    display: inline-block;
    padding: 10px;
    font-family: Righteous, Verdana, Tahoma, sans-serif;
    font-size: 50px;
    background-color: #eff5;
}

button, input {
    padding: 14px;
    text-align: center;
    background-color: azure;
    background-image: linear-gradient(azure, lightgrey);
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

button:hover, input:hover {
    background-image: none;
    cursor: pointer;
    border-width: 2px;
}

.hidden {
    display: none;
}

.box {
    display: inline-block;
    padding: 14px;
    text-align: center;
    background-color: mintcream;
}

h1, button, .box {
    border-radius: 20px;
}