body {
    margin-left: 10%;
    margin-right: 10%;;
    text-align: center;
    background-color: #0077e7;
    background-image: linear-gradient(cyan, #0077e7);
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

body:hover {
    cursor: default;
}

h1 {
    display: inline-block;
    padding: 10px;
    background-color: #eff5;
    font-family: Righteous, Verdana, Tahoma, sans-serif;
    font-size: 50px;
    border-radius: 20px;
}

button, input {
    text-align: center;
    background-color: azure;
    background-image: linear-gradient(azure, lightgrey);
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

button:hover, input:hover {
    background-color: azure;
    background-image: none;
    cursor: pointer;
}

input:hover {
    cursor: text;
}

.hidden {
    display: none;
    background-color: #eff5;
}

.box {
    display: inline-block;
    text-align: center;
    background-color: mintcream;
    font-family: Righteous, Verdana, Tahoma, sans-serif;
}

button, input, .hidden, .box {
    padding: 14px;
    border-radius: 20px;
}

#notice {
    display: none;
    position: fixed;
    bottom: 1cm;
    left: 10%;
    width: 70%;
    padding: 5%;
    background-color: azure;
    border-radius: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 70pt;
    font-weight: bold;
}